
<%- include('../layouts/header.ejs') -%>

   <!-- Page Header Start -->
   <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
               
                <div class="row">
                    <% address.forEach(addrss => { %>
                        <div class="m-3" style="display: block;">
                            <label>
                                <input type="radio" id="shipping_address" name="shippingAddress" value="<%= addrss.firstname %> <%= addrss.lastname %>,<%= addrss.mobile %>,<%= addrss.email %>,<%= addrss.address1%>,<%= addrss.address2%>,<%= addrss.city %>, <%= addrss.state %>, <%= addrss.country %>, ZIP: <%= addrss.zipcode %>,<%= addrss._id %>" checked>
                                <%= addrss.firstname %> <%= addrss.lastname %>,<%= addrss.mobile %>,<%= addrss.email%>,
                                <%= addrss.address1%>,
                                <%= addrss.address2%>,
                                <%= addrss.city %>, <%= addrss.state %>, <%= addrss.country %>, ZIP: <%= addrss.zipcode %>
                                
                              </label>
                              
                          </div>
                        <% }) %>
              
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                           
                            <a href="/checkout/addressLoad" class="m-3">Add New Address</a>
                            <a href="/checkout/editAddress" class="m-3" id="editAddressLink" >Edit/Change</a>
                            <a href="/checkout/deleteAddress" class="m-3" id="deleteAddressLink" >Delete</a>
                        </div>
                    </div>
                    <!-- ....................... -->
                    <!-- <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="shipto">
                            <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                        </div>
                    </div> -->
                </div>
                
            </div>
            <!-- <div class="collapse mb-4" id="shipping-address">
                <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" placeholder="John">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" placeholder="Doe">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" placeholder="example@email.com">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" placeholder="+123 456 789">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 1</label>
                        <input class="form-control" type="text" placeholder="123 Street">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 2</label>
                        <input class="form-control" type="text" placeholder="123 Street">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Country</label>
                        <select class="custom-select">
                            <option selected>United States</option>
                            <option>Afghanistan</option>
                            <option>Albania</option>
                            <option>Algeria</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" type="text" placeholder="New York">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State</label>
                        <input class="form-control" type="text" placeholder="New York">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>ZIP Code</label>
                        <input class="form-control" type="text" placeholder="123">
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>
                <div class="card-body">
                    <% cartData.product.forEach(prdct => { %>
                    <h5 class="font-weight-medium mb-3">Products</h5>
                    <div class="d-flex justify-content-between">
                        <p><%= prdct.item.title %> (<%= prdct.quantity %>)</p>
                        <p><%= prdct.sub_total %></p>
                    </div>
                    <% }) %>
                    <hr class="mt-0">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium"><%= cartData.total_amount %></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">FREE</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <% if(total_after_discount) {%>
                       <h6 class="font-weight-medium" id="discountText">Discount</h6> 
                        <h6 class="font-weight-medium" id="discountAmount"><%= total_after_discount - cartData.total_amount %></h6>
                        <% }%>
                   </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <% if(total_after_discount) {%>
                        <h5 class="font-weight-bold"><%= parseFloat(total_after_discount)  %></h5>
                        
                        <% }else{%>
                        <h5 class="font-weight-bold"><%= cartData.total_amount %></h5>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal" value="online">
                            <label class="custom-control-label" for="paypal">Razorpay</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck" value="COD">
                            <label class="custom-control-label" for="directcheck">COD</label>
                        </div>
                    </div>
                   
                </div> 
                <div class="card-footer border-secondary bg-transparent">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" onclick="address()" >Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    const editAddressLink = document.getElementById('editAddressLink');
    editAddressLink.addEventListener('click', (event) => {
    const selectedAddressRadio = document.querySelector('input[name="shippingAddress"]:checked');
    if (selectedAddressRadio) {
            const selectedAddress = encodeURIComponent(selectedAddressRadio.value);
        
            // Update the link's href with the selected address as a query parameter
            editAddressLink.href = `/checkout/editAddress?address=${selectedAddress}`;
        }
    });
</script>
<script>
    const deleteAddressLink = document.getElementById('deleteAddressLink');
    deleteAddressLink.addEventListener('click', (event) => {
    const selectedAddressRadio = document.querySelector('input[name="shippingAddress"]:checked');
    if (selectedAddressRadio) {
            const selectedAddress = encodeURIComponent(selectedAddressRadio.value);
            
             deleteAddressLink.href = `/checkout/deleteAddress?address=${selectedAddress}`;
        }
    });
</script>

<script>
async function address() {
  const address = document.querySelectorAll('input[name="shippingAddress"]');
  let selectedAddress = '';
  for (let i = 0; i < address.length; i++) {
    if (address[i].checked) {
      selectedAddress = address[i].value;
      break;
    }
  }
  const pay = document.querySelectorAll('input[name="payment"]');
  let selectedPay = '';
  for (let i = 0; i < pay.length; i++) {
    if (pay[i].checked) {
      selectedPay = pay[i].value;
      break;
    }
  }
  try {
    const response = await fetch(`http://localhost:3008/checkout/shipping-address-save?address=${selectedAddress}`, {
      method: 'GET',
    });

    const data = await response.json();
    // alert(data.message);
    if(selectedPay=="COD"){
        window.location.href = '/checkout/checkout-payment?method=COD';
    }
    else{
        $.ajax({
			url:"/checkout/razor_order?method=online",
			type:"POST",
			// data: formData,
			success:function(res){
				if(res.success){
					var options = {
						"key": ""+res.key_id+"",
						"amount": ""+res.amount+"",
						"currency": "INR",
						// "name": ""+res.product_name+"",
						// "description": ""+res.description+"",
						// "image": "https://dummyimage.com/600x400/000/fff",
						"order_id": ""+res.order_id+"",
						"handler": function (response){
                            
                            verifyPayment(response.razorpay_payment_id,response.razorpay_order_id,response.razorpay_signature);
						},
						
					};
					var razorpayObject = new Razorpay(options);
					razorpayObject.on('payment.failed', function (response){
                        console.log("Payment Failed Event Triggered");
                        fetch('/checkout/clear-total-after-discount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Total after discount cleared successfully');
        })
        .catch(error => {
            console.error('Error clearing total after discount:', error);
        });
    });
				
					razorpayObject.open();
				}
				else{
					alert(res.msg);
				}
			}
		})

    }
   
  } catch (err) {
    alert('Error' + err);
  }

//   console.log(selectedAddress);
}
function verifyPayment(payment_id, order_id,razorpay_signature) {
   
   const data = {
       payment_id: payment_id,
       order_id: order_id
   };

  
   fetch("/checkout/verifyPayment", {
       method: "POST",
       headers: {
           "Content-Type": "application/json",
           'x-razorpay-signature': razorpay_signature
       },
       body: JSON.stringify(data)
   })
   .then(response => response.json())
   .then(data => { 
        console.log(data)
       if (data.success) {
         
           window.location.href = '/checkout/razor-payment?method=online'
       }else {
           console.log("Payment verification failed");
        //    window.location.href = '/checkout/clear'
          
          
       }
   })
   .catch(error => {
       console.error("Error verifying payment:", error);
   
   });
}



 </script>
    <%- include('../layouts/footer.ejs') -%>